.formheader {
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
  width: 80vw;
  position: relative;
  margin: 0px auto;
}
.formheader-icon {
  margin-top: 10px;
  width: 168px;
  height: 50px;
}
.formheader-close {
  position: absolute;
  top: 15px;
  right: -5px;

  transform: scale(1.2);
}
.formheader-enterdetail {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 15px;
  font-size: 0.9rem;
  font-family: sans-serif, Arial, Helvetica;
  color: #808080;
  opacity: 0.6;
}
