.day-card {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.502);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 10px;
  padding: 10px 20px;
  width: 353px;
  height: 506px;
  color: white;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.day-card:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 480px) {
  .day-card {
    font-size: 0.9rem;
  }
}
