.login-form {
  position: relative;
  display: flex;
  margin-top: 10px;
  height: 350px;
  width: 82%;
  flex-direction: column;
  align-items: center;
}
.login-input {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 2px auto;
  max-width: 430px;
  width: 80vw;
  height: 54px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  transition: all 1s;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #808080;
  line-height: 17px;
}
.login-error {
  font-size: 0.85rem;
  height: 40px;
  width: 75%;
  text-align: start;
  /* margin-right: auto; */
  /* margin-left: 50px; */
  /* margin-top: -2px; */
  /* margin-bottom: 15px; */
  color: red;
}
.login-password {
  position: relative;
}
.login-password-icon {
  position: absolute;
  opacity: 0.5;
  scale: 1.5;
  z-index: 1;
  right: 20px;
  top: 15px;
}

.login-bottemline {
  width: 80%;
  height: 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: auto;
}
.login-bottemline-span {
  text-decoration: underline;
  font-weight: bold;
  color: #4a91ff;
}
.login-bottemline-span:hover {
  cursor: pointer;
}
.login-remember {
  margin-top: 10px;
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #667280;
}
.login-rem-check {
  background: #ffffff;
  margin: 5px 10px;
  scale: 1.2;
  border: 1px solid #939eaa;
  border-radius: 4px;
}
.login-fetcherror {
  color: red;
  height: 27px;
}
@media screen and (max-width: 480px) {
  .login-input {
    height: 38px;
    font-size: 0.8rem;
    padding: 5px;
  }
  .login-bottemline {
    font-size: 0.9rem;
  }
  .password-error {
    width: 95%;
    font-size: 0.8rem;
  }
  .login-password-icon {
    top: 8px;
  }
  .login-bottomform-line {
    font-size: 0.8rem;
  }
  .login-error {
    height: 22px;
    margin-left: 15px;
  }
}
