.dashboard-head {
  position: fixed;
  left: 251px;
  height: 8vh;
  top: 0;
  z-index: 1;
  padding: 0 30px 0 10px;
  right: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: black;
  background: #ffffff;
  display: flex;
  justify-content: end;
  align-items: center;
  /* font-size: 1.1rem; */
  line-height: 10px;
  overflow: hidden;
}
.dashboard-head i {
  font-weight: lighter;
  opacity: 0.6;
}
.head-menuitem {
  margin-right: auto;
  display: none;
}
.head-menuitem:hover {
  cursor: pointer;
}
.head-selectcity {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 30px;
}
.head-selectcity:hover {
  cursor: pointer;
}
.head-cityname {
  margin: 2px 10px 5px 10px;
}
.city-active {
  color: brown;
  z-index: 15;
  position: relative;
  color: white;
  /* background: transparent; */
}
.head-logout {
  color: red;
  border-radius: 50%;
  margin: 5px;
  padding: 7px 8px 6px 8px;
  box-shadow: rgba(0, 0, 0, 0.42) 0px 3px 8px;
}
.head-logout:hover {
  cursor: pointer;
  background-color: #beb6b6e1;
}
.logout-active {
  z-index: -1;
}
.logout-active:hover {
  z-index: -1;
  cursor: auto;
  background-color: transparent;
}
.head-active {
  background-color: gray;
  z-index: 9;
}
@media screen and (max-width: 550px) {
  .dashboard-head {
    position: fixed;
    left: 0;
    height: 8vh;
    top: 0;
    z-index: 1;
    padding: 0 30px 0 10px;
    right: 0;
  }
  .head-menuitem {
    display: block;
  }
}
