.signup-form {
  position: relative;
  display: flex;
  width: 82%;
  /* border: 2px solid blue; */
  flex-direction: column;
  align-items: center;
}
.signup-input {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  max-width: 430px;
  width: 80vw;
  height: 54px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  transition: all 1s;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 600;

  font-size: 14px;
  line-height: 17px;
}
.signup-error {
  font-size: 0.85rem;
  height: 22px;
  width: 80%;
  text-align: start;
  margin-right: auto;
  margin-left: 50px;
  margin-top: -2px;
  margin-bottom: 10px;
  color: red;
}
.password-error {
  margin-bottom: 20px;
}
.signup-password {
  position: relative;
}

.signup-password-icon {
  position: absolute;
  opacity: 0.5;
  scale: 1.5;
  z-index: 1;
  right: 20px;
  top: 12px;
}
.signup-password-icon:hover {
  cursor: pointer;
}
.signup-bottomform-line {
  width: 80%;
  font-weight: 400;
  margin: 3px auto;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 13, 75, 0.69);
}
.signup-bottomform-line a {
  font-weight: bold;
}
.signup-bottemline {
  width: 80%;
  height: 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 3px auto;
}
.signup-bottemline-span {
  text-decoration: underline;
  font-weight: bold;
  color: #4a91ff;
}
.signup-bottemline-span:hover {
  cursor: pointer;
}
.signup-fetcherror {
  color: red;
  height: 27px;
  /* font-size: rem; */
}
@media screen and (max-width: 540px) {
  .signup-input {
    height: 38px;
    font-size: 0.8rem;
    padding: 5px;
  }
  .signup-bottemline {
    font-size: 0.9rem;
  }
  .password-error {
    width: 95%;
    font-size: 0.8rem;
  }
  .signup-password-icon {
    top: 8px;
  }
  .signup-bottomform-line {
    font-size: 0.8rem;
  }
  .signup-error {
    height: 22px;
    margin-left: 15px;
  }
}
