.weather-card {
  display: flex;
  border: 1px solid #54cbff;
  border-radius: 28.7437px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 10px;
  padding: 10px 20px;
  height: 223px;
  width: 148px;
  color: white;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.weather-card:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 28.7437px;
}
.card-active {
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to bottom right, #5afcdeb5, #587fe0b1);
  /* background-color: #7dd5fb; */
}
@media screen and (max-width: 480px) {
  .weather-card {
    font-size: 0.9rem;
  }
}
